# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/2026/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/2026/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/2026/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/2026/onboarding

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SECRET_KEY=

# Admin
ADMIN_PASSWORD=
