@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-image: url("/sumobots/2025/background_gears.svg");
}

@layer base {
  .container {
    @apply mx-auto grid w-full grid-cols-12 gap-x-8 px-4;
  }
  .shadow-centered {
    --tw-shadow: 0 0 72px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 0px 72px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@layer utilities {
  .font-display {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .font-main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

section + section {
  @apply mt-12 lg:mt-8;
}

h2 {
  @apply font-display mb-12 text-5xl lg:mb-6 lg:mt-8;
}
h3 {
  @apply font-display mb-4 text-3xl;
}
td,
p {
  @apply text-[#B3B3B3] md:text-lg;
}
td {
  @apply md:text-base;
}

img {
  @apply h-full w-full object-cover;
}

.text-link {
  @apply text-blue-400 underline duration-100 hover:text-blue-300;
}

.button {
  @apply block w-fit bg-rose-600 px-8 py-4 font-normal duration-200 hover:bg-rose-400;
}
